<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <th>Titel</th>
      <td><%= @topic.title %></td>
    </tr>
    <tr>
      <th>Omschrijving</th>
      <td><%= @topic.description %></td>
    </tr>
    <tr>
      <th>Aangemaakt door</th>
      <td><%= @topic.user.email %></td>
    </tr>
    <tr>
      <th>Aangemaakt op</th>
      <td><%= @topic.created_at %></td>
    </tr>
    <tr>
      <th>Geupdate op</th>
      <td><%= @topic.updated_at %></td>
    </tr>

    <% if @topic.user_is(current_user) %>
    <tr>
      <th>Opties</th>
      <td>
        <%= @topic.edit_link %>
        <%= @topic.delete_link %>
      </td>
    </tr>

    <% end %>
  </tbody>
</table>