<div class="row">
  <div class="col-xs-12">
    <%= link_to "Terug", topics_path, :class => "btn btn-default" %>
    <h1 class="page-header"><%= @topic.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= render( :partial => "topic_info") %>
  </div>
  <div class="col-xs-12 col-md-8">
      <% if @topic.messages.count > 0 %>
        <% @topic.messages.each do |message| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= message.user.email if message.user %>
            </h4>
            <span><%= format_date(message.created_at) %></span>
            <p><%=raw message.content %></p>
          </div>
        </div>
        <% end %>

      <% else %>
        <h4>Schrijf als eerste een bericht!</h4>
      <% end %>
      

    <%= render( :partial => "message_form" ) %>
  </div>

</div>