<div class="row">
  <div class="col-xs-12">
    <%= link_to "Terug", topics_path, :class => "btn btn-default" %>
    <h1 class="page-header"><%= @topic.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    
    <%= render( :partial => "topic_info") %>
  </div>
  <div class="col-xs-12 col-md-8">

    <!-- display messages -->
    <div class="messages">
      <%= render( :partial => "message" ) %>
    </div>
    

    <!-- display message form -->
    <%= render( :partial => "message_form", :topic => @topic ) %>
  </div>

</div>