<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header"><%= @topic.title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to "Terug", topics_path, :class => "btn btn-default" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
      <%= render( :partial => "message", :collection => @topic.messages ) %>
      
      <%= form_for @message do |f| %>

        <%= f.hidden_field :topic_id %>
        <%= f.label :content, "Content" %>
        <%= f.text_area :content %>
        <%= f.submit "Submit" %>

      <% end %>
  </div>
  <div class="col-xs-6">
    
    <%= @topic.title %>
    <%= @topic.description %>
    <%= format_date(@topic.created_at) %>
    <%= format_date(@topic.updated_at) %>
    <%= @topic.user.email %>
  </div>
</div>