<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to("Topics", topics_path) %>
        </li>
        <li>
          <%= link_to "Users", "#" %>
        </li>
      </ul>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
      </ul>
      <% end %>
    </div>
  </nav>
  <div class="container">

    <% if flash[:notice] %>
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-warning">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
